<div class="col-md-12">
  <%= simple_form_for @collection, :html => { :class => 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>

    <%= f.input :name, :placeholder => 'Collection Name', :autofocus => true %>
    <%= f.input :description, :placeholder => 'Description', :input_html => { :rows => 6 } %>
    <%= f.input :active %>

    <section>
      <div class="col-md-10 col-md-offset-2 no-padding-left">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <% if action_name == 'edit' %>
          <%= link_to "Cancel", collection_path(@collection), class: 'btn btn-primary' %>
          <%= link_to 'Delete Collection', collection_path(@collection), 
                                        class: 'btn btn-danger',
                                        method: :delete, 
                                        title: 'Delete: ' + @collection.name, 
                                        data: { confirm: 'Are you sure? This action is permanent.' }%>
        <% else %>
          <%= link_to "Cancel", collections_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </section>

  <% end %>
</div>