<!-- SUBNAV -->
<%= render 'collection_subnav' %>

<div class="collection-detail">

<p id="notice"><%= notice %></p>

<h1><%= @collection.name %></h1>


<p><%= @collection.description %></p>
<p>Date created</p>


<!-- 
<p>
  <strong>Active:</strong>
  <%= @collection.active %>
</p>

<p>
  <strong>Public:</strong>
  <%= @collection.public %>
</p>
 -->
<hr>

<div class="row">
<% @collection.collection_items.each do |c| %>
	<div class="col-sm-3 col-md-3 col-xs-12 item-panel">
		<div class="thumbnail">
			<%= image_tag c.item.thumb_image_url %>
<!-- 			<div class="caption">
				<h4><%= raw c.item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h4>
				<p><%= c.item.description_short %></p>
			</div> -->
		</div>
	</div>
<% end %>
</div>

</div>