<h1><%= link_to_if user_signed_in?, @collection.name, @collection %> </h1>
<!-- <p><%= @collection.description %></p> -->
<!-- <hr> -->

<div class="category-items-container">
  <ul class="category-items one-row">

    <% @collection.collection_items.active.each do |ci| %>
      <li class="item" data-size="<%= ci.item.size %>">
      <%= link_to ci.item do %>
        <% if ci.item.sold %>
          <%= image_tag 'hml_sold_icon.svg', class: 'category-stamp-sold' %>
        <% end %>
        <%= image_tag ci.item.decorate.default_image_url, class: 'item-image' %>
      <% end %>
      <h4><%= raw ci.item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h4>
      <p><%= raw ci.item.description_short %></p>
      <p class="item-circa"><%= ci.item.circa %></p>
      </li>
    <% end %>

  </ul>
</div>