<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= link_to 'http://hmluther.com' do %>
      <%= image_tag 'http://173.254.104.110/hml/web_ui/hml.png' %>
    <% end %>
    <h1>Welcome to HMLuther.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to hmluther.com,
      your username is: <%= @user.email %>.
    </p>
    <p>
    <%= link_to item_url @item do %>
      Item # <%= @item.filemaker_id %>
    <% end %>
    </p>
    <p>
      <%= image_tag @item.thumb_image_url %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>