<h1><%= @subcategory.name %></h1>

<% @subcategory.items.each do |item| %>
	<%= link_to item do %>
	  <%= image_tag item.default_image.first.url %>
	  <hr>
	<% end %>
<% end %>



<%= link_to 'Edit', edit_subcategory_path(@subcategory), class: 'btn btn-default' %>
<%= link_to 'Back', subcategories_path, class: 'btn btn-default' %>
