<%= render 'subnav' %>

<div class="sc-items-container">
	<ul id="sc-items" class="sc-items" data-container-size="<%= @subcategory.container_size %>" data-sort="">

		<% @subcategory.items.each do |item| %>
			<li data-size="<%= item.height %>">
			<%= link_to item do %>
			  <%= image_tag item.default_image_url %>
			<% end %>
			<h4>Designer</h4>
			<p><%= item.description_short %></p>
			<p class="item-circa"><%= item.circa %></p>
			</li>
		<% end %>

	</ul>
</div>

<hr>
<%= link_to 'Edit', edit_subcategory_path(@subcategory), class: 'btn btn-default' %>
<%= link_to 'Back', subcategories_path, class: 'btn btn-default' %>
<h4>style="width: <%= @subcategory.container_size %>px;"</h4>