<h1>Listing designers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Active</th>
      <th>Include</th>
      <th>Omit</th>
      <th>Production date</th>
      <th>Website</th>
      <th>Filemaker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @designers.each do |designer| %>
      <tr>
        <td><%= designer.name %></td>
        <td><%= designer.bio %></td>
        <td><%= designer.active %></td>
        <td><%= designer.include %></td>
        <td><%= designer.omit %></td>
        <td><%= designer.production_date %></td>
        <td><%= designer.website %></td>
        <td><%= designer.filemaker_id %></td>
        <td><%= link_to 'Show', designer %></td>
        <td><%= link_to 'Edit', edit_designer_path(designer) %></td>
        <td><%= link_to 'Destroy', designer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Designer', new_designer_path %>
