<h1><%= @designer.name %></h1>
<hr>

<p>
  <strong>Bio:</strong>
  <%= @designer.bio %>
</p>

<% if @designer.production_date.present? %>
  <p>
    <strong>Production date:</strong>
    <%= @designer.production_date %>
  </p>
<% end %>

<% if @designer.website.present? %>
  <p>
    <strong>Website:</strong>
    <%= @designer.website %>
  </p>
<% end %>

<hr>
<h3>Items:</h3>
<% @items.each do |item| %>
  <p><%= link_to item.description_short, item %></p>
<% end %>

<%= link_to 'Edit', edit_designer_path(@designer), class: 'btn btn-default' %>
<%= link_to 'Back', designers_path, class: 'btn btn-default' %>
