<h1><%= @designer.name %></h1>
<hr>

<p>
  <strong>Bio:</strong>
  <%= @designer.bio %>
</p>


<p>
  <strong>Country of origin:</strong>
  Somewhere, Somewhere Else
</p>

<p>
  <strong>Affiliations:</strong>
  Someone, Someone Else
</p>


<% if @designer.production_date.present? %>
  <p>
    <strong>Production date:</strong>
    <%= @designer.production_date %>
  </p>
<% end %>

<% if @designer.website.present? %>
  <p>
    <strong>Website:</strong>
    <%= @designer.website %>
  </p>
<% end %>

<hr>
<h3>Items: <%= @designer.item_count %></h3>
<% @designer.items.each do |item| %>
  <p><%= link_to item.description_short, item %></p>
<% end %>

<%= link_to 'Edit', edit_designer_path(@designer), class: 'btn btn-default' %>
<%= link_to 'Back', designers_path, class: 'btn btn-default' %>
