<h1><%= @designer.name_full %> <small class="text-muted"><%= @designer.item_count %> items</small></h1>

<!-- ITEMS -->
<div class="category-items-container">
  <ul class="category-items one-row">

    <% @designer.listed_items.each do |item| %>
      <li class="item" data-size="<%= item.size %>">
      <%= link_to item, class: 'item-link' do %>
        <%= image_tag 'hml_sold_icon.svg', class: 'category-stamp-sold' if item.sold %>
        <%= image_tag item.default_image_url, class: 'item-image' %>
      <% end %>

      <!-- ADD TO COLLECTION -->
      <% if user_signed_in? %>
        <% unless current_user.collections.count > 0 %>
          <%= link_to 'Create Collection', new_collection_path, class: 'btn btn-default' %>
        <% else %>
          <% unless item.sold %>
            <div id="<%= item.filemaker_id %>" class="dropdown">
              <a data-toggle="dropdown" href="#" class="btn btn-default add-copy" title="Add to Collection"></span></a>
              <%= render partial:'items/dropdown_menu', locals: {item: item} %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% unless item.sold %>
          <%= link_to "", remote_login_path, :remote => true, class: 'btn btn-default', title: "Add to collection (Login required)" %>
        <% end %>
      <% end %>

      <h4><%= item.maker_display %></h4>
      <p><%= item.description_short %></p>
      <p class="item-circa"><%= item.circa %></p>
      </li>
    <% end %>

  </ul>
</div>
<input id="position" type="hidden" value="">

<!-- DETAIL -->
<div class="row">
  <% if @designer.bio.present? %>
  <div class="col-md-6 info-panel">
    <h4>Biography</h4>
    <p><%= @designer.bio %></p>
  </div>
  <% end %>
  <div class="col-md-6 info-panel">
    <h4>General Information</h4>
    <% if @designer.origin %>
      <p>Origin: <%= @designer.origin %></p>
    <% end %>
    <% if @designer.affiliate_list.present? %>
      <p>Affiliations: <%= raw @designer.affiliate_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></p>
    <% end %>

  </div>
</div>
