<h1><%= @designer.name %>: <span class="text-muted"><%= @designer.item_count %></span></h1>

<!-- IMAGES -->
<div class="category-items-container">
  <ul id="category-items" class="category-items" data-container-size="<%= @designer.container_size %>" data-sort="">

    <% @designer.items.each do |item| %>
      <li data-size="<%= item.height %>">
      <%= link_to item do %>
        <%= image_tag item.default_image_url, class: 'item-image' %>
      <% end %>
      <% if item.sold %>
        <%= image_tag 'hml_sold_icon.svg', class: 'category-stamp-sold pull-right' %>
      <% end %>
      <h4><%= raw item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h4>
      <p><%= item.description_short %></p>
      <p class="item-circa"><%= item.circa %></p>
      </li>
    <% end %>

  </ul>
</div>


<!-- DETAIL -->
<div class="row">
  <% if @designer.bio.present? %>
  <div class="col-md-6 info-panel">
    <h4>Biography</h4>
    <p><%= @designer.bio %></p>
  </div>
  <% end %>
  <div class="col-md-6 info-panel">
    <h4>General Information</h4>
    <% if @designer.origin %>
      <p>Origin: <%= @designer.origin %></p>
    <% end %>
    <% if @designer.affiliate_list.present? %>
      <p>Affiliations: <%= raw @designer.affiliate_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></p>
    <% end %>

  </div>
</div>

<!--
<%= link_to 'Edit', edit_designer_path(@designer), class: 'btn btn-default' %>
<%= link_to 'Back', designers_path, class: 'btn btn-default' %>
-->