<div class="contact-page">
	<div class="col-md-12">
		<h1><%= @page.name %></h1>
	</div>

	<!-- ABOUT COPY -->
	<div class="col-md-4 description-copy">
		<%= raw @page.content %>
		<div class="hidden-xs hidden-md hidden-lg">
			<hr>
		</div>
	</div>

	<!-- ADDRESS -->
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12 col-sm-6 address">
				<div class="hidden-sm hidden-md hidden-lg">
					<hr>
				</div>
				<address>
				  <strong>Greenwich Village</strong><br>
				  61 East 11th Street<br>
				  New York, NY 10003<br>
				  <abbr title="Phone">Phone:</abbr> (212) 505-1485 <br>
				  <abbr title="Fax">Fax:</abbr> (212) 505-0401
				</address>
				<p>Monday-Friday 10-5<br>
				and by appointment</p>
			</div>
			<div class="col-md-12 col-sm-6">
				<div class="hidden-sm hidden-xs">
					<hr>
				</div>
				<div id="gv_map" class="map-canvas">
					<iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=61%20East%2011th%20Street%20New%20York%2C%20NY%2010003&key=AIzaSyDSjUuSMRlAqJwMSAjHepir6n2vPCtHkKo"></iframe>
				</div>
			</div>
		</div>
	</div>

	<!-- CONTACT FORM -->
	<div class="col-md-12">
		<br>
		<hr>
		<h1>Contact Us</h1>
	</div>

	<div class="col-md-3">
		<p>Please use this form to contact us.</p>
		<p>Alternatively email us directly at <%= image_tag 'email.png', class: 'img-inline' %>.</p>
	</div>

	<div class="col-md-6">
	  <%= simple_form_for @contact, :remote => true, :format => :js, :html => { :class => 'form-horizontal' },
	  wrapper: :horizontal_form,
	  wrapper_mappings: {
	    check_boxes: :horizontal_radio_and_checkboxes,
	    radio_buttons: :horizontal_radio_and_checkboxes,
	    file: :horizontal_file_input,
	    boolean: :horizontal_boolean
	  } do |f| %>
	    <%= f.input :name, :required => true %>
	    <%= f.input :email, :required => true %>
	    <%= f.input :message, :as => :text, :required => true, :input_html => { :rows => 4 } %>
	    <div class= "hidden">
	      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
	    </div>
	    <div class="col-md-offset-2">
	      <%= f.button :submit, 'Send message', :class=> "btn btn-primary", data: { disable_with: "Please wait..." } %>
	    </div>
		<% end %>
	</div>

</div>
