<div class="col-md-12">

	<h2>Sign in</h2>
	<hr>

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form form-horizontal' },
	  wrapper: :horizontal_form,
  	wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
	  <%= f.input :email, :autofocus => true %>
	  <%= f.input :password %>
	  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>

    <section>
      <div class="col-md-10 col-md-offset-2">
			  <%= f.button :submit, "Login", :class => 'btn-primary' %>
			  <%= render "devise/shared/links" %>
			</div>
		</section>
	<% end %>

</div>