<div class="row item-subnav">

	<!-- ITEM NUMBER -->
	<div class="col-md-4 col-sm-4 display">
		Item #<%= @item.filemaker_id %>
	</div>

	<!-- SHARE -->
	<div class="col-md-2 col-sm-2">
		<button class="share-button" title="Share this item">Share</button>
	</div>

	<!-- TEARSHEET -->
	<% if @item.tearsheet_url %>
	<div class="col-md-2 col-sm-2">
			<%= link_to 'Tearsheet', @item.tearsheet_url, class: 'tearsheet', :target => "_blank", title: 'Download Tearsheet' %>
	</div>
	<% else %>
	<div class="col-md-2 col-sm-2 display">
		<span class="line-through" title="Tearsheet unavailable">Tearsheet</span>
	</div>
	<% end %>

	<!-- REQUEST INFORMATION -->
	<div class="col-md-2 col-sm-2">
		<button class="request-info-button" title="Requestion additional information for this item">Information</button>
	</div>

	<!-- ADD TO COLLECTION -->
	<div class="col-md-2 col-sm-2 collection-list">
		<% if user_signed_in? %>
			<% unless current_user.collections.count > 0 %>
				<%= link_to 'Create Collection', new_collection_path %>
			<% else %>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Add to Collection <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<% current_user.collections.active.each_with_index do |c, index| %>
						<li>
						<% if (c.item_ids & Array(@item.filemaker_id)).present? %>
							<span class="assigned" title="Item already assigned to this collection"><%= c.name %></span>
						<% else %>
							<%= button_to c.name, collection_collection_items_path(c.id, :collection_item => { :collection_id => c.id, :item_id => @item.filemaker_id }), :remote => true %>
						<% end %>
						</li>
						<% if (current_user.collections.active.count - 1) > index %>
							<li class="divider"></li>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		<% else %>
			<button class="add-login-button" title="Add to collection (Login required)">Add</button>
		<% end %>
	</div>

</div>
