<!-- SUBNAV -->
<%= render 'category_subnav' %>

<!-- <h1><%= params[:category] %></h1>
<p>All Category Items will be shown here.</p>
<p>Item Count: <%= @items.count %></p>
<p>Container Size: <%= @container_size %>px</p> -->

<div class="category-items-container">
  <ul id="category-items" class="category-items" data-container-size="<%= @container_size %>" data-sort="">

    <% @items.each do |item| %>
      <li data-size="<%= item.height %>">
      <%= link_to item do %>
        <%= image_tag item.default_image_url, class: 'item-image' %>
      <% end %>
      <% if item.sold %>
        <%= image_tag 'stamp_sold.png', class: 'category-stamp-sold pull-right' %>
      <% end %>
      <h4><%= raw item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h4>
      <p><%= item.description_short %></p>
      <p class="item-circa"><%= item.circa %></p>
      </li>
    <% end %>

  </ul>
</div>

<hr>

<table class="table">
  <thead>
    <tr>
      <th>Active</th>
      <th>Description</th>
      <th>Circa</th>
      <th>Sold</th>
      <th>Location</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.active %></td>
        <td><%= item.description_short %></td>
        <td><%= item.circa %></td>
        <td><%= item.sold %></td>
        <td><%= item.location %></td>
        <td><%= item.reference %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>