<!-- SUBNAV -->
<%= render 'category_subnav' %>

<div class="category-items-container">
  <ul class="category-items one-row">
  <% @items.each_with_index do |item, index| %>
    <li class="item" data-size="<%= item.size %>">
      <%= link_to item, class: 'item-link' do %>
      <% if item.sold %>
        <%= image_tag 'hml_sold_icon.svg', class: 'category-stamp-sold' %>
      <% end %>
        <%= image_tag item.default_image_url, class: 'item-image' %>
      <% end %>

      <!-- ADD TO COLLECTION -->
      <% if user_signed_in? %>
        <% unless current_user.collections.count > 0 %>
          <%= link_to 'Create Collection', new_collection_path %>
        <% else %>
          <% unless item.sold %>
            <div id="<%= item.filemaker_id %>" class="dropdown">
              <a data-toggle="dropdown" href="#" class="btn btn-default" title="Add to Collection"></span></a>
              <%= render partial:'dropdown_menu', locals: {item: item} %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% unless item.sold %>
          <%= link_to "", remote_login_path, :remote => true, class: 'btn btn-default', title: "Add to collection (Login required)" %>
        <% end %>
      <% end %>


      <h4><%= raw item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h4>
      <p><%= item.description_short %></p>
      <p class="item-circa"><%= item.circa %></p>
      <p class="item-circa">Size: <%= item.size %></p>
    </li>
  <% end %>
  </ul>
</div>

<!-- RECENTLY VIEWED ITEMS -->
<%= render 'layouts/recent_items' %>

<input id="position" type="hidden" value="">