<!-- SUBNAV -->
<%= render 'category_subnav' %>


<div class="sly-container">
  <button class="btn btn-sly prev"><i class="glyphicon glyphicon-chevron-left"></i></button>
  <button class="btn btn-sly next"><i class="glyphicon glyphicon-chevron-right"></i></button>

  <div class="category-items-container" id="basic">
    <ul class="category-items one-row">

    <% @items.each_with_index do |item, index| %>
      <li class="item" data-size="<%= item.size %>">

        <!-- ITEM IMAGE -->
        <div class="col-md-12 item-image">
        <%= link_to item, class: 'item-link' do %>
          <%= image_tag 'hml_sold_icon.svg', class: 'category-stamp-sold' if item.sold %>
          <%= image_tag item.default_image_url, class: 'webcomp' %>
        <% end %>
        </div>

        <!-- ITEM INFO -->
        <div class="col-md-12 item-info">
          <h4><%= item.maker_display %></h4>
          <p class="item-description"><%= raw item.description_short %></p>
          <p class="item-circa"><%= item.circa %> | <%= item.size %></p>
        </div>

        <!-- ADD TO COLLECTION -->
        <div class="col-md-12 full-width">
          <%= item.add_to_collection %>
        </div>

      </li>
    <% end %>

    </ul>
  </div>

  <div class="scroll-container-full">
    <div class="scrollbar">
      <div class="handle">
        <div class="mousearea"></div>
      </div>
    </div>
  </div>


</div>

<!-- RECENTLY VIEWED ITEMS -->
<%= render 'layouts/recent_items' %>

<!-- <input id="position" type="input" value=""> -->