<!-- SUBNAV -->
<%= render 'category_subnav' %>

<div class="category-items-container">
  <ul id="category-items" class="category-items" data-container-size-1="<%= @container_size_1 %>" data-container-size-2="<%= @container_size_2 %>" data-sort="">

    <% @items.each do |item| %>
      <li data-size="<%= item.height %>">
      <%= link_to item, class: 'item-link' do %>
        <%= image_tag item.default_image_url, class: 'item-image' %>
      <% end %>
      <% if item.sold %>
        <%= image_tag 'hml_sold_icon.svg', class: 'category-stamp-sold' %>
      <% end %>
      <h4><%= raw item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h4>
      <p><%= item.description_short %></p>
      <p class="item-circa"><%= item.circa %></p>
      </li>
    <% end %>

  </ul>
</div>

<!-- RECENTLY VIEWED ITEMS -->
<%= render 'layouts/recent_items' %>

<input id="position" type="hidden" value="">