<!-- SUBNAV -->
<%= @item.subnav %>

<!-- IMAGES -->
<div class="row">
  <div class="col-md-12 all-images">
    <div class="item-images-container">
      <div id="item-images" class="item-images" data-sort="">
      
        <% @item_images.each do |image| %>
          <%= @item.image(image) %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- DETAIL -->
<div class="row">
  <div class="col-md-12">
    <h3><%= @item.maker_display %></h3>
    <hr/>
  </div>
  <div class="col-md-6 info-panel">
    <p><%= @item.description_short %></p>
    <p><%= @item.circa %></p>
    <p>Item: <%= @item.filemaker_id %></p>
    <p>Location: <%= @item.location_calc %></p>
    <hr>
    <h5>Dimensions</h5>

    <!-- DIMENSIONS INCHES -->
    <div class="row">

    <% if @item.height_in.present? %>
      <div class="col-md-3">
        <p>Height: <%= @item.height_in %> in.</p>
      </div>
    <% end %>

    <% if @item.width_in.present? %>
      <div class="col-md-3">
        <p>Width: <%= @item.width_in %> in.</p>
      </div>
    <% end %>

    <% if @item.depth_in.present? %>
      <div class="col-md-3">
        <p>Depth: <%= @item.depth_in %> in.</p>
      </div>
    <% end %>

    <% if @item.diameter_in.present? %>
      <div class="col-md-3">
        <p>Diameter: <%= @item.diameter_in %> in.</p>
      </div>
    <% end %>

    </div>

    <!-- DIMENSIONS CENTIMETERS -->
    <div class="row">

    <% if @item.height_cm.present? %>
      <div class="col-md-3">
        <p>Height: <%= @item.height_cm %> cm.</p>
      </div>
    <% end %>

    <% if @item.width_cm.present? %>
      <div class="col-md-3">
        <p>Width: <%= @item.width_cm %> cm.</p>
      </div>
    <% end %>

    <% if @item.depth_cm.present? %>
      <div class="col-md-3">
        <p>Depth: <%= @item.depth_cm %> cm.</p>
      </div>
    <% end %>

    <% if @item.diameter_cm.present? %>
      <div class="col-md-3">
        <p>Diameter: <%= @item.diameter_cm %> cm.</p>
      </div>
    <% end %>

    </div>

  </div>

  <!-- DESCRIPTION -->
  <div class="col-md-6 info-panel">
    <p><%= @item.description rescue "" %></p>
    <p><%= @item.reference rescue "" %></p>
    <p><%= Designer.find_by_slug(@item.maker_list.first).bio rescue "" %></p>
    <p>Category: <%= raw @item.category_list.map { |t| link_to t.titlecase, category_path(t) }.join(', ') %></p>
    <%= image_tag 'hml_sold_icon.svg', class: 'item-stamp-sold' if @item.sold %>
  </div>
</div>

<!-- RECENTLY VIEWED ITEMS -->
<%= render 'layouts/recent_items' %>

