<p>
  <strong>Category List:</strong>
  <%= raw @item.category_list.map { |t| link_to t, category_path(t) }.join(', ') %>
</p>

<p>
  <strong>Maker List:</strong>
  <%= raw @item.maker_list.map { |t| link_to t, designer_path(t) }.join(', ') %>
</p>

<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @item.featured %>
</p>

<p>
  <strong>Description short:</strong>
  <%= @item.description_short %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Circa:</strong>
  <%= @item.circa %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @item.sold %>
</p>

<p>
  <strong>Location:</strong>
  <%= @item.location %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @item.reference %>
</p>

<p>
  <strong>Height:</strong>
  <%= @item.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @item.width %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @item.depth %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @item.diameter %>
</p>

<p>
  <strong>FileMaker ID:</strong>
  <%= @item.filemaker_id %>
</p>

<hr>
<h3>Images</h3>
<% @item.images.each do |image| %>
  <%= image_tag image.url %>
<% end %>

<hr>
<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-default' %>
<%= link_to 'Back', items_path, class: 'btn btn-default' %>
