<!-- SUBNAV -->
<% if @item.sold %>
  <%= render 'item_subnav_sold' %>
<% else %>
  <%= render 'item_subnav' %>
<% end %>

<!-- IMAGES -->
<div class="row">
  <div class="col-md-12 all-images">
    <div class="item-images-container">
      <div id="item-images" class="item-images" data-container-size="<%= @container_size %>" data-sort="">
      
        <% if user_signed_in? %>
          <% @item_images.each do |image| %>
            <%= link_to image.url, :target => "_blank" do %>
              <%= image_tag image.url, title: 'Click for high resolution image' %>
            <% end %>
          <% end %>
        <% else %>
          <% @item_images.each do |image| %>
            <%= image_tag image.url, title: 'Login for high resolution image' %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- DETAIL -->
<div class="row">
  <div class="col-md-12">
    <h3><%= raw @item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h3>
    <hr/>
  </div>
  <div class="col-md-6 info-panel">
    <p><%= @item.description_short %></p>
    <p><%= @item.circa %></p>
    <p>Item: <%= @item.filemaker_id %></p>
    <p>Location: <%= raw(@item.location_calc) %></p>
    <hr>
    <h5>Dimensions</h5>

    <!-- DIMENSIONS INCHES -->
    <div class="row">

    <% if @item.height_in.present? %>
      <div class="col-md-3">
        <p>Height: <%= @item.height_in %> in.</p>
      </div>
    <% end %>

    <% if @item.width_in.present? %>
      <div class="col-md-3">
        <p>Width: <%= @item.width_in %> in.</p>
      </div>
    <% end %>

    <% if @item.depth_in.present? %>
      <div class="col-md-3">
        <p>Depth: <%= @item.depth_in %> in.</p>
      </div>
    <% end %>

    <% if @item.diameter_in.present? %>
      <div class="col-md-3">
        <p>Diameter: <%= @item.diameter_in %> in.</p>
      </div>
    <% end %>

    </div>

    <!-- DIMENSIONS CENTIMETERS -->
    <div class="row">

    <% if @item.height_cm.present? %>
      <div class="col-md-3">
        <p>Height: <%= @item.height_cm %> cm.</p>
      </div>
    <% end %>

    <% if @item.width_cm.present? %>
      <div class="col-md-3">
        <p>Width: <%= @item.width_cm %> cm.</p>
      </div>
    <% end %>

    <% if @item.depth_cm.present? %>
      <div class="col-md-3">
        <p>Depth: <%= @item.depth_cm %> cm.</p>
      </div>
    <% end %>

    <% if @item.diameter_cm.present? %>
      <div class="col-md-3">
        <p>Diameter: <%= @item.diameter_cm %> cm.</p>
      </div>
    <% end %>

    </div>

  </div>

  <!-- DESCRIPTION -->
  <div class="col-md-6 info-panel">

    <p><%= @item.description rescue "" %></p>

    <p><%= @item.reference rescue "" %></p>

    <p><%= Designer.find_by_slug(@item.maker_list.first).bio rescue "" %></p>

    <p>Category: <%= raw @item.category_list.map { |t| link_to t.titlecase, category_path(t) }.join(', ') %></p>
    <% if @item.sold %>
      <%= image_tag 'hml_sold_icon.svg', class: 'item-stamp-sold' %>
    <% end %>
  </div>
</div>

<!-- RECENTLY VIEWED ITEMS -->
<%= render 'layouts/recent_items' %>

