<!-- SUBNAV -->
<%= render 'item_subnav' %>

<!-- IMAGES -->
<div class="row">
  <div class="col-md-12">
    <div class="item-images-container">
      <div id="item-images" class="item-images" data-container-size="<%= @container_size %>" data-sort="">
        <% if user_signed_in? %>
          <% @item.images.show_list.shuffle.each do |image| %>
            <%= link_to image.url, :target => "_blank" do %>
              <%= image_tag image.url, title: 'Click for high resolution image' %>
            <% end %>
          <% end %>
        <% else %>
          <% @item.images.show_list.shuffle.each do |image| %>
            <%= image_tag image.url, title: 'Login for high resolution image' %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- DETAIL -->
<div class="row">
  <div class="col-md-12">
    <h3><%= raw @item.maker_list.map { |t| link_to t.titlecase, designer_path(t) }.join(', ') %></h3>
    <hr/>
  </div>
  <div class="col-md-6 info-panel">
    <p><%= @item.description_short %></p>
    <p><%= @item.circa %></p>
    <p>
      Item: <%= @item.filemaker_id %><br/>
      Location: <%= @item.location_calc %></br/>
      Height: <%= @item.height %> in.</br/>
      Width: <%= @item.width %> in.</br/>
      Depth: <%= @item.depth %> in.</br/>
      Diameter: <%= @item.diameter %> in.
    </p>
  </div>
  <div class="col-md-6 info-panel">
    <p><%= @item.description %></p>
    <p><%= @item.reference %></p>
    <p>Category: <%= raw @item.category_list.map { |t| link_to t.titlecase, category_path(t) }.join(', ') %></p>
    <% if @item.sold %>
      <%= image_tag 'hml_sold_icon.svg', class: 'item-stamp-sold' %>
    <% end %>
  </div>
</div>

<!-- RECENTLY VIEWED ITEMS -->
<%= render 'layouts/recent_items' %>

<!--
<hr>
<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-default' %>
<%= link_to 'Back', items_path, class: 'btn btn-default' %>
-->
