<h1>Images (<%= @images.size %>)</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr class="active">
      <th>Image ID</th>
      <th>Image type</th>
      <th>Position</th>
      <th>Item ID</th>
      <th>Cloudinary Url</th>
      <th>Edit Buttons</th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.filemaker_id %></td>
        <td><%= image.image_type %></td>
        <td><%= image.position %></td>
        <td><%= image.item_id %></td>
        <td><%= link_to "Link", image.url, :target => "_blank" %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'Show', image, class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path, class: 'btn btn-primary' %>
