<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= link_to raw(@image.item.description_short), @image.item %></div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><strong>Filemaker ID:</strong> <%= @image.filemaker_id %></li>
    <li class="list-group-item"><strong>Item ID:</strong> <%= @image.item_id %></li>
    <li class="list-group-item"><strong>Image Type:</strong> <%= @image.image_type %></li>
    <li class="list-group-item"><strong>Position:</strong> <%= @image.position %></li>
    <li class="list-group-item"><strong>Created:</strong> <%= @image.created_at %></li>
    <li class="list-group-item"><strong>Updated:</strong> <%= @image.updated_at %></li>
  </ul>
</div>

<!-- SAMPLE CLOUDINARY IMAGE -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Image</h3>
  </div>
  <div class="panel-body">
    <% if @image.image_type == "Tearsheet" %>
      <%= cl_image_tag("#{@image.filemaker_id}.pdf", :alt => "ID PDF", cloud_name: ENV['CLOUDINARY']) %>
    <% else %>
      <%= cl_image_tag("#{@image.filemaker_id}.jpg", :alt => "ID Image", cloud_name: ENV['CLOUDINARY']) %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_image_path(@image), class: 'btn btn-warning' %>
<%= link_to 'Back', images_path, class: 'btn btn-warning' %>
