<div id="collection_info_modal" class="collection_info_modal modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- HEADER -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= image_tag 'hml_icon.svg', class: 'logo-icon', alt: 'HM Luther' %>
				<h4 class="modal-title">Information</h4>
			</div>

			<!-- BODY -->
			<div class="modal-body">

				<div class="row">
					<div class="col-md-12">
						<h4>Request information about the collection: <%= @collection.name %></h4>
					</div>
				</div>

				<div class="row form-content">
					<div class="col-md-12">
						<hr>
					  <%= simple_form_for @collection_info_request, :remote => true, :format => :js, :html => { :class => 'form-horizontal', :id => "collection_info_request_form" } do |f| %>
							<%= f.input :name, as: :hidden, input_html: {value: current_user.name } %>
							<%= f.input :email, as: :hidden, input_html: {value: current_user.email } %>
							<%= f.input :collection_name, as: :hidden, input_html: {value: @collection.name } %>
							<%= f.input :collection_url, as: :hidden, input_html: {value: collection_url(@collection) + '/slideshow'} %>
							<%= f.input :item_ids, as: :hidden, :input_html => { :value => @collection.collection_items.active.map { |ci| ci.item.filemaker_id }} %>
					    <%= f.input :message, :as => :text, :required => true, :input_html => { :rows => 4 }, :placeholder => 'MESSAGE', :label => false %>

				      <%= f.input :nickname, as: :hidden, :hint => 'Leave this field blank!' %>
				      <%= f.button :submit, 'Send message', :class=> "btn btn-primary", data: { disable_with: "Please wait..." } %>
					  <% end %>
					</div>
			  </div>

			</div>

			<!-- FOOTER -->
			<div class="modal-footer">
				<!-- <p>Not registered yet? <%= link_to "Sign up", new_user_registration_path, :class => 'close-login' %></p> -->
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->