<div id="login_modal" class="login_modal modal fade">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- HEADER -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<%= image_tag 'hml_icon.svg', class: 'logo-icon', alt: 'HM Luther' %>
				<h4 class="modal-title">Login</h4>
			</div>

			<!-- BODY -->
			<div class="modal-body">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => false, :format => :js, :html => {:class => "form-horizontal", :id => "sign_in_user"}) do |f| %>

				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Log in to enjoy great new FEATURES on hmluther.com</h3>
				  </div>
				  <div class="panel-body">
						<ul>
							<li>Download tearsheets</li>
							<li>Download high-resolution photographs</li>
							<li>Easily request more information</li>
							<li>Save your favorite items in Collections</li>
						</ul>
				  </div>
				</div>

				<%= f.input :email, :required => true, :placeholder => 'EMAIL', :label => false, :autofocus => true %>
				<%= f.input :password, :required => true, :placeholder => 'PASSWORD', :label => false %>
				<%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %>
				<div class="form-group">
					<%= f.button :submit, "Login", :class => "btn btn-primary" %>
				</div>

			</div>

			<!-- FOOTER -->
			<div class="modal-footer">
				<p>Forgot your password? <%= link_to "Reset", new_user_password_path %></p>
				<p>Not registered yet? <%= link_to "Sign up", remote_sign_up_path, :remote => true, :class => 'close-login', :data => {dismiss: "modal"} %></p>
			<% end %>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->