<nav id="cbp-hrmenu" class="cbp-hrmenu">
  <ul>

    <!-- FURNITURE -->
    <li class="drop">
      <a>Furniture</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner"> 
          <div>
            <h4>Seating</h4>
            <ul>
              <li>
                 <%= link_to "All", category_path('furniture') %>
              </li>
              <li>
                <%= link_to "Chairs", category_path('chairs') %>
              </li>
              <li>
                <%= link_to "Sofas, Beds, Daybeds", category_path('sofas-beds-daybeds') %>
              </li>
              <li>
                <%= link_to "Stools, Benches", category_path('stools-benches') %>
              </li>
            </ul>
          </div>
          <div>
            <h4>Cabinetry</h4>
            <ul>
              <li><a href="category.html">All</a></li>
              <li>
                <%= link_to "Bookcases, Vitrines", category_path('bookcases-vitrines') %>
              </li>
              <li>
                <%= link_to "Cabinets", category_path('cabinets') %>
              </li>
              <li>
                <%= link_to "Commodes, Chests of Drawers", category_path('commodes-chests-of-drawers') %>
              </li>
            </ul>
          </div>
          <div>
            <h4>Tables</h4>
            <ul>
              <li><a href="category.html">All</a></li>
              <li>
                <%= link_to "Coffee, Cocktails Tables", category_path('coffee-cocktail-tables') %>
              </li>
              <li>
                <%= link_to "Console Tables", category_path('console-tables') %>
              </li>
              <li>
                <%= link_to "Desks, Secretaries", category_path('desks-secretaries') %>
              </li>
              <li>
                <%= link_to "Etageres, Shelves", category_path('etegeres-shelves') %>
              </li>
              <li>
                <%= link_to "Table Tops", category_path('table-tops') %>
              </li>
              <li>
                <%= link_to "Tables", category_path('tables') %>
              </li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- LIGHTING -->
    <li class="drop">
      <a>Lighting</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner">
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "All", category_path('lighting') %>
              </li>
              <li>
                <%= link_to "Candelabras, Candlesticks", category_path('candelabras-candlesticks') %>
              </li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "Chandeliers", category_path('chandeliers') %>
              </li>
              <li>
                <%= link_to "Lamps", category_path('lamps') %>
              </li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "Sconces, Wall Lights", category_path('sconces-wall-lights') %>
              </li>
              <li>
                <%= link_to "Lanterns", category_path('lanterns') %>
              </li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- MIRRORS -->
    <li class="drop">
      <%= link_to "Mirrors", category_path('mirrors') %>
    </li>

    <!-- OBJECTS -->
    <li class="drop">
      <a>Objects</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner"> 
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "All", category_path('objects') %>
              </li>
              <li>
                <%= link_to "Boxes", category_path('boxes') %>
              </li>
              <li>
                <%= link_to "Clocks", category_path('clocks') %>
              </li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "Jardinieres", category_path('jardinieres') %>
              </li>
              <li>
                <%= link_to "Objects", category_path('objects') %>
              </li>
              <li>
                <%= link_to "Pedestals", category_path('pedestals') %>
              </li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "Screens", category_path('screens') %>
              </li>
              <li>
                <%= link_to "Trays", category_path('trays') %>
              </li>
              <li>
                <%= link_to "Vases, Bowls", category_path('vases-bowls') %>
              </li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- ART -->
    <li class="drop">
      <a>Art</a>
      <div class="cbp-hrsub">
        <div class="cbp-hrsub-inner"> 
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "All", category_path('art') %>
              </li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "Pictures", category_path('pictures') %>
              </li>
            </ul>
          </div>
          <div>
            <h4></h4>
            <ul>
              <li>
                <%= link_to "Sculptures", category_path('sculptures') %>
              </li>
            </ul>
          </div>
        </div><!-- /cbp-hrsub-inner -->
      </div><!-- /cbp-hrsub -->
    </li>

    <!-- DESIGNERS -->
    <li class="drop">
      <!-- <%= link_to "Items", items_path %> -->
      <%= link_to "Designers", designers_path %>
    </li>
  </ul>
</nav>