<div class="row">
	<div class="col-md-12">
		<div class="recent-items">
			<h4>Recently viewed items</h4>
			<!-- EXAMPLE ITEMS -->
			<%= image_tag 'example-thumb.jpg' %>
			<%= image_tag 'example-thumb.jpg' %>
			<%= image_tag 'example-thumb.jpg' %>
			<%= image_tag 'example-thumb.jpg' %>
			<%= image_tag 'example-thumb.jpg' %>
			<%= image_tag 'example-thumb.jpg' %>
		</div>
	</div>
</div>