<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HM Luther" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HM Luther" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container">
       <%= render 'layouts/menu' %>
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
    	<%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
